{% extends 'base.html.twig' %}

{% block title %}Calendrier de l'avent - Jour {{calendar.date|date('d')}} {% endblock %}

{% block body %}

    <h2>{{ calendar.date|format_datetime('full', 'none', locale='fr') }}</h2>

    <section class="rules">
        <h3>Règles du jeu</h3>
        <p>{{calendar.challenge.description}}</p>

        {% if not app.user %}
            {{ include('includes/_login.html.twig')}} 
        {% endif %}
    </section>
    <section class="game">
    {% if points is not empty %}
        <h3>Résultats</h3>
        <p class="results">
        {% if points >= 4 %}
            Félicitations, tu as marqué <span class="points">{{ points }} point{{points > 1 ? 's' : ''}}</span>&nbsp;! 
        {% else %}
            Dommage, tu as marqué <span class="points">{{ points }} point{{points > 1 ? 's' : ''}}</span>. Retente ta chance demain pour un meilleur résultat&nbsp;!
        {% endif %}
        </p>
    {% else %} 

        {% if type == 'quiz' %} 
            {{ include('calendar/_quiz.html.twig')}} 
        {% elseif type == 'photo' %}
            {{ include('calendar/_photo.html.twig')}}
        {% endif %}

    {% endif %}
    </section>
    {% if type == 'photo' %}
        {{ include('includes/_galerie.html.twig')}}
    {% endif %}

    {{ include('includes/_ranking.html.twig')}}
    
</div>
{% endblock %}
