{% extends 'base.html.twig' %}

{% block title %}Calendrier de l'avent{% endblock %}

{% block body %}
    <section>
        <article>
            <p>Cette année, Noël se fête en ligne à travers un calendrier de l'avent intéractif et un bingo de Noël !</p> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nobis eveniet necessitatibus saepe delectus rem laborum, id iste, sunt aut vero, ex minima quis quaerat repellendus sint? In, nemo officia.</p>
        </article>

        {% if not app.user %}
            {{ include('_login.html.twig')}} 
        {% endif %}
    </section>

    <section class="calendar">
        <h2>Le calendrier</h2>

        <p>Chaque jour, le calendrier de l'avent dévoile une nouvelle case contenant une activité, un petit jeu ou un défi à réaliser ! Chaque défi réalisé vous fera remporter des points. </p>
        <p>Alors qui sera le maître de l'avent 2024&nbsp;?</p>
        <div class="table">
            {% if calendar %}
                {% for day in calendar %}
                <a {% if day.date <= date('12/03/2024') %} href="{{path('app_calendar_index', {id : day.id})}}" {% endif %}>
                    <img src="{{ asset('imgs/calendar/' ~ day.picture) }}" alt="calendrier du {{day.date|date('d/m')}}">
                </a>
                {% endfor %}
            {% endif %}
        </div>        
    </section>

    <section class="ranking">
        <h2>Le classement</h2>
        <table>
            <tr>
                <th>Place</th>
                <th>Prénom</th>
                <th>Points</th>
            </tr>
            {% if rankings is not empty %}
                {% for ranking in rankings %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ranking[0].user.firstname}}</td>
                <td>{{ranking.totalPoints}}</td>
            </tr>
                {% endfor %}

            {% else %}
            <tr><td colspan="4">Aucune participation pour le moment !</td></tr>
            {% endif %}
        </table>
    </section>

    {# <section class="blog">
        <h2>Le blog</h2>

        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
        <article>
            <img src="" alt="">
            <p>Lorem ipsum dolor.</p>
        </article>
    </section> #}
{% endblock %}

