<section class="galerie">
<h2>Galerie des participations</h2>
    <div class="elements {% if calendar.challenge.type is defined and calendar.challenge.type == 'PhotoChallenge' %} photo {% endif %}">
    {% if rankings is not empty %}
        {% for ranking in rankings %}
            {% if ranking.details is not empty %}
                {% if ranking.challenge.type == 'PhotoChallenge' %}
                <figure class='photo'>
                    <a href="{{asset('uploads/challenges/' ~ ranking.challenge.uploadDirectory ~ ranking.details[0])}}" target="_blank">
                        <img src="{{asset('uploads/challenges/' ~ ranking.challenge.uploadDirectory ~ ranking.details[0])}}" alt="participation de {{ranking.user.firstname}}" width=100>
                    </a>
                    <figcaption>{{ranking.user.firstname}}</figcaption>
                </figure>
                 {% elseif ranking.challenge.type == 'ParticipationChallenge' %}
                <figure class="text">
                    <a href="{{ranking.details['link']}}" target="_blank">
                        <span class='title'>{{ranking.details['title']}}</span>
                        {{ranking.details['content']}}
                    </a>
                    <figcaption>{{ranking.user.firstname}}</figcaption>
                </figure>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</section>